body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Verdana", serif;
}
.topnav {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: #e9e9e9;
  font-family: "Arial", serif;
}
.topnav .webpages a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 15px 18px 15px;
  text-decoration: none;
  font-size: 17px;
  transition: all 1s;
}
.topnav img{
  float: left;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0;
  width: 27px;
  height: 27px;
}
.topnav a:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
}
.topnav a.heroes{
  background-color: #C1B3B0;
}
.topnav a.tanks:hover{
  background-color: orange;
  transition: 0.7s ease;
}
.topnav a.damage:hover {
  background-color: #C70039;
  transition: 0.7s ease;
}
.topnav a.support:hover {
  background-color: #54CB1B;
  transition: 0.7s ease;
}
.topnav i {
  padding-right: 0px;
}
img.active{
  background-color: #2196F3;
}
.dropbtn {
  display: block;
  float: right;
  padding: 12px 12px 12px 12px;
  margin: 0;
  cursor: pointer;
}
.dropdown{
  display: block;
}
.dropdown-content{
  display: none;
  text-align: right;
  position: absolute;
  min-width: 160px;
  right: 0;
  top: 56px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn:hover{
  background-color: gray;
  transition: 0.7s;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.scroll i{
  bottom: 0;
  left: 1%;
  color: black;
  position: fixed;
  opacity: 0.7;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  font-size: 50px;
  width: 80px;
  height: 60px;
  line-height: 40px;
  border-radius: 10px;
  animation: bounce 1s ease infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.content {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px 10px 10px 10px;
}
.grid-item {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  font-family: "Verdana", serif;
}
.grid-item img{
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.grid-item:hover{
  box-shadow: 15px 12px 16px 0 rgba(0,0,0.5,0.2);
  border-radius: 20px;
  background-color: #8DDDEC;
  transition: 0.7s ease;
}
