body{
  background-color: black;
  color: #6DE62D;
  margin: 0px;
}
.topnav{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #e9e9e9;
  font-family: "Arial", serif;
  margin-bottom: 10px;
}
.topnav .webpages a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 15px 18px 15px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  color: white;
  background-color: #2196F3;
}
.topnav input[type=text] {
  float: right;
  padding: 19px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 16px;
  font-size: 16px;
  text-align: left;
  border-radius: 50px

}
.topnav .search-container button {
  float: right;
  padding: 8px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.content {
  font-family: "Consolas", serif;
  margin: 2vh;
  padding: 0.5vh;
  font-size: 2vh;
}
#hehe {
  color: black;
}
